@import './base.css';

#app {
  max-width: none;   /* oppure rimuovi questa riga */
  margin: 0;         /* niente centratura */
  padding: 0;        /* niente padding */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #f8f7f3;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
